{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Scifi RPG API{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/api_overview_style.css' %}">
</head>
<body>

    <nav class="navbar">
        <a href="{% url 'items_api_overview' %}">🛠 Items API</a>
        <a href="{% url 'npc_api_overview' %}">🧑‍🚀 NPC API</a>
        <a href="{% url 'player_api_overview' %}">🎮 Player API</a>
        <a href="{% url 'space_api_overview' %}">🌌 Space API</a>
        <a href="{% url 'ship_api_overview' %}">🚀 Ship API</a>
        <a href="{% url 'diplomation_api_overview' %}">⚖️ Diplomation API</a>
        <a href="">💰 Economy API</a>
        <a href="">🔬 Research API</a>
    </nav>

    <main class="container">
        <h1 class="title">{% block heading %}API Overview{% endblock %}</h1>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        &copy;2025 Zdenko Čepan | Scifi RPG API | Powered by Django REST Framework
    </footer>

</body>
</html>